/* cast_shinki.css */
main{
	color: #000;
	margin: 50px 0px;
}
main form{
	width: 382px;
	margin: 10px auto;
	padding: 30px 0;
	border: dotted 1px #000;
	padding: 20px;
	border-radius: 5px;
}
main form lavel{
	width: 130px;
	text-align: center;
	margin: 3px 0px;
	font-family: 'hannari';
	text-rendering: optimizeLegibility;
}
#ck_box{
	text-align: left;
	margin: 14px 0 0 -100px;
}
#dm_span{
	font-size: 0.9em;
	width: 240px;
	clear: both;
	margin:0px 0 0 120px;
}
main form input{
	width: 200px;
	padding: 2px;
	margin: 10px 0px;
}
#bt_box{
	width: 200px;
	margin: 0 auto;
}
.button01{
	margin: 10px 0 10px 10px;
}

/* buy_comfirm */
dl{
	width: 100%;
}
dt{
	width: 20%;
	color: #fff;
	background: #000;
	padding: 10px;
	border: solid 1px #777;
	float: left;
	height: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
dd{
	width: 80%;
	color: #000;
	background: #fff;
	border: solid 1px #777;
	padding: 10px;
	margin: 0 0 5px 0;
	height: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	overflow: auto;
}
ul li{
	text-align: center;
}
.goodsimg{
	width: 100px;
	overflow: hidden;
	margin: 0 auto;
}
.goodsimg img{
   width: auto;
   max-height: 100px;
}
#seikyu{
	background: #d00;
}