main{
	width: 100%;
	margin: 0 auto;
	color: #000;
}
#goodsimg_1 img{
	width: 100%;
	text-align: center;
	display: block;
	margin: 0 auto;

}
#goods_name{
	background: #000;
	color: #fff;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
#goods_text{
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	
}
#goods_text p{
	color: #000;
	line-height: 1em;
	font-family: 'hannari';
	font-size: 1.2em;
	letter-spacing: 2px;
}
#goods_text ul{
}
#goods_text ul li{
	color: #000;
	display: block;
	margin: 15px 30px;
}
label{
	width: 100px;
	display: block;
	background: #000;
	padding: 10px;
	margin: 10px;
}
#dammy{

}

@media ( max-width : 769px ) {
	/*iphone*/
	#goodsimg_1{
		width: 100%;
		margin: 0 auto;
	}

	#goods_text{
		width: 95%;
	}
	#goods_text ul li{
		width: 95%;
	}
}
@media ( min-width : 768px ) {
	/*pc*/
	#goodsimg_1{
		width: 600px;
		margin: 0 auto 0 100px;
	}
	#goods_text{
		width: 75%;
	}
	#goods_text ul li{
		width: 75%;
	}
}
.margin20{
	margin: 50px 0 50px 0;
}
footer{
	margin: 15px 0 0 0;
}
/*	COLUMN WIDTH ON DISPLAYS +768px 
You might need to play with media queries here to suite your design. */
@media ( min-width : 768px ) {
	.span_13 { width: 40%; }
	.gutters .span_13 { width: 40%; }
	.span_14 { width: 60%; }
	.gutters .span_14 { width: 60%; }

	.span_15 { width: 30%; }
	.gutters .span_15 { width: 30%; }

	.span_16 { width: 70%; }
	.gutters .span_16 { width: 70%; }

	.span_17 { width: 30%; }
	.gutters .span_17 { width: 30%; }
	.span_18 { width: 40%; }
	.gutters .span_18 { width: 420%; }
	.span_19 { width: 20%; }
	.gutters .span_19 { width: 20%; }
	.span_20 { width: 80%; }
	.gutters .span_20 { width: 80%; }

	.span_21 { width: 100%; }
	.gutters .span_21 { width: 100%; }
	.span_22 { width: 0%; }
	.gutters .span_22 { width: 0%; }
}