article {
}

#text1{
	height: 300px;
	background: #001111;
	
}

#text1 span{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'hannari';
	font-size: 1.2em;
}
#text1 #te2{
	display: block;
	width: 250px;
	letter-spacing: 4px;
	position: relative;
	z-index: 100;
	margin: 0px 100px 15px 80px;
	line-height: 1.5em;
}
#text1 img{
	margin: 60px 10px 10px 80px;
	height: 60px;
	position: relative;
	z-index: 10;
}
#text1 a{
	margin: 0 0 0 60%;
	letter-spacing: 1px;
	color: #978041;
	font-size: 0.9em;
}
#text1 a:hover{
	color: #ddd;
}
aside {
}
#topimage{

}
#topimage img{
	width: 100%;
}
#sub{
	color: #000;
}
#sub div{
	color: #000;
}
#sub div h2{
	background: #000;
	height: 40px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;

}

.news ul li{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px;
}
.news ul li:first-child .newsDay{
	background: #fff;

}
.news ul li .newsDay:before{
	content:"■";
}
.news ul li:first-child .newsDay:after{
	content:"new!";
	color: #f00;
	padding: 0px 3px;
	letter-spacing: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@media ( max-width : 769px ) {
	/*iphone*/
	#sub .subcon{
		color: #000;
		border-bottom: dotted 1px #000;
	}
	.firstco{
		border-top: dotted 1px #000;
	}

	#kamemilogo_mini2{

	}
	#text1 #te1{
		margin: 89px 100px 15px -40px;
		position: relative;
		z-index: 10;

	}
}
@media ( min-width : 768px ) {
	/*pc*/
	#sub .subcon{
		height: 300px;
		color: #000;
		border-right: dotted 1px #000;
		/*background: #ff0;*/
	}
	.firstco{
		border-left: dotted 1px #000;
	}
}

h1{
	width: 80px;
	padding: 12px 0 15px 0;
	display: block;
	background: #f00;
	text-align: center;
	line-height: 1.2em;
	letter-spacing: 2px;
	font-size: 1.4em;
	
	font-family: 'hannari';
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	position: relative;
	z-index: 100;
	
	border: solid 1px #000;
}
.dammy_box{
	width: 100px;
	height: 100px;
	background: #fff;
	position: relative;
	z-index: 10;
	margin: -82px 0 0 -2px;
}
#dm{
	
	background: #ddd;
	
}
.box1{
	height: 300px;
	background: #ccc;
	position: relative;
	z-index: 1;
	margin: 10px 0 0 0;
	
}
.box2{
	background: #aaa;
}
#kamemilogo_mini2{
	
}
#text1 #te1{
	margin: -30px 100px 15px 190px;
	position: relative;
	z-index: 10;

}

/* 上書き */
@media ( min-width : 768px ) {
	
	.gutters .col {
		margin-left: 0%;
	}
	
	.gutters .col:first-child {
		margin-left: 0;
	}
}
/*	COLUMN WIDTH ON DISPLAYS +768px 
	You might need to play with media queries here to suite your design. */
@media ( min-width : 768px ) {
	.span_13 { width: 40%; }
	.gutters .span_13 { width: 40%; }
	.span_14 { width: 60%; }
	.gutters .span_14 { width: 60%; }
	
	.span_15 { width: 30%; }
	.gutters .span_15 { width: 30%; }
	.span_16 { width: 70%; }
	.gutters .span_16 { width: 70%; }
	.span_17 { width: 33%; }
	.gutters .span_17 { width: 33%; }
	.span_18 { width: 34%; }
	.gutters .span_18 { width: 34%; }
}

