/* login.css */
main{
	color: #000;
	margin: 50px 0px;
}
main span{
	display: block;
	text-align: center;
	font-family: 'hannari';
}
.submit{
	margin: 0 auto 0 100px;
}
main form{
	width: 382px;
	margin: 10px auto;
	padding: 30px 0;
	border: dotted 1px #000;
	padding: 20px;
	border-radius: 5px;
}
label{
	width: 130px;
	text-align: center;
	margin: 3px 0px;
	font-family: 'hannari';
	text-rendering: optimizeLegibility;
}
#ck_box{
	text-align: left;
	margin: 14px 0 0 -100px;
}
main form input{
	width: 200px;
	padding: 2px;
	margin: 10px 0px;
}
#bt_box{
	width: 200px;
	margin: 0 auto;
}